	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/07/2016 16:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        /* font-size: 20px; */
        font-size: 4em;
font-style: normal;
margin-left: 20px;
}

.flaticon-baidu-paw-logo:before { content: "\f100"; }

.emboss {
  text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.4), 0 3px 4px rgba(0, 0, 0, 0.7);
  color: #d7dee1;
}
