/* TEMPLATE STYLES */


/* Necessary for full page carousel*/

html,
body,
.view {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}


/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../Images/4985392932_332ff39f3f_o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("../Images/what-is-wet-tail-in-hamsters-51e3fb8242496.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../Images/1.21.16-flu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
/*======================*/
/*text-animation adopt*/
.strike{

	text-decoration: line-through;
}
.visuallyHidden {
	 opacity: 0;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
.hiddenText {
	display: none;
}


/* materialised checkbox*/
.checkboxM {
  position: relative;
  top: -0.1rem;
  margin: 0 .8rem 0 0;
  cursor: pointer;
}

.checkboxM:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #009688;
}

.checkboxM:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
 height: .5rem;
  border-color: #4285F4;
  border-top-style: none;
  border-right-style: none;
}

.checkboxM:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  background: #fff;
  cursor: pointer;
}
/*Logo*/
#Logo{
	position: absolute;
	z-index: 999;
	bottom: 2%;
	right: 5%;
	opacity: .68;
  height: 15rem;
  width: 15rem;
}
#Logo:HOVER {
	opacity: 1;
  -ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Safari */
  transform: scale(1.1, 1.1);

}
#Mini Logo{
	position: absolute;
	top:1%;
}


/* social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 7.5rem !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 7px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoGit:hover {
	background-color:#424242;
}

 .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoGit:hover i, .social-network a.icoLinkedin:hover i {
	color: #fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}


.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
  color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
ul.social-network li a{
background-color: #BDBDBD;
}
/*Round Button*/
.btn-floating {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

#btnRound {
  moz-border-radius: 50px;
-webkit-border-radius: 50px;
}


#btnRound:focus, #btn:active {
outline: none !important;
}

/*Modal Fixes*/
.md-form{
	padding: 0rem .5rem 0rem 1.5rem;
}
.fa-lock{
	margin-left: .07rem;
	margin-top:  .3rem;
}
.fa-envelope{
	margin-top: .3rem;
	margin-left:-.35rem;
}
.md-form>input[type=text],
.md-form>input[type=password],
.md-form>input[type=email],
.md-form>input[type=url],
.md-form>input[type=time],
.md-form>input[type=date],
.md-form>input[type=datetime-local],
.md-form>input[type=tel],
.md-form>input[type=number],
.md-form>input[type=search-md],
.md-form>textarea.md-textarea {
width: 86%;
	}

.md-form label{
  left: 1.2rem;
}

.md-form label.active{
	color : #b1cdfa;
	font-size : .9rem;
	font-weight : 600;
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  transform: translateY(-30%);
}
.modal-footer p {
	text-align: left;
	font-weight: 300;
}
.modal-header> h3 {
	text-align: center;
    display: block;
    font-size: 1.75rem;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 300;
}