/* TEMPLATE STYLES */


/* Necessary for full page carousel*/

html,
body,
.view {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}


/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../Images/4985392932_332ff39f3f_o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("../Images/what-is-wet-tail-in-hamsters-51e3fb8242496.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../Images/1.21.16-flu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
/*======================*/

.Strike{

	text-decoration: line-through;
}
.VisuallyHidden {
	 opacity: 0;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
.Hidden {
	display: none;
}

.md-form label.active{
	color : #b1cdfa;
	font-size : .9rem;
	font-weight : 600;
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  transform: translateY(-30%);
}
h3 {
	text-align: center;
    display: block;
    font-size: 1.75rem;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 300;
}
.modal-footer p {
	text-align: left;
	font-weight: 300;
}
/* materialised checkbox*/
.checkboxM {
  position: relative;
  top: -0.1rem;
  margin: 0 .8rem 0 0;
  cursor: pointer;
}

.checkboxM:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #009688;
}

.checkboxM:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
 height: .5rem;
  border-color: #4285F4;
  border-top-style: none;
  border-right-style: none;
}

.checkboxM:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  background: #fff;
  cursor: pointer;
}
/*Logo*/
#Logo{
	position: absolute;
	z-index: 999;
	bottom: 2%;
	right: 5%;
	opacity: .68;
  height: 15rem;
  width: 15rem;
}
#Logo:HOVER {
	opacity: 1;
  -ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Safari */
  transform: scale(1.1, 1.1);

}
#Mini Logo{
	position: absolute;
	top:1%;
}
